* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url(../font/l_10646.ttf);
}
body{
    background-color: #B3C5D7;; 
}
.logo {
    width: 60px;
    cursor: pointer;
    width: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
}
.onas:hover{
    color: azure;
}
.menu1:hover{
        color:#ffd613 ;
}
h1{
    margin-left: 15px;
    color: azure;
    font-size: 50px;
}
a{
    text-decoration: none;
}

.menu{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.navigacne_menu {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/menu_back.jpg); 
}


nav {
    flex: 1;
    text-align: right;
    margin-right: 2%;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 15px;
    cursor: pointer;
}
.onas{color: #ffd613}
    


.kontajner {
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

h2{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
.info{
    width: 600px;
    margin-left: 50%;
    margin-top: 70px;
}
.popis_nazov{
    font-size: 18px;
    font-weight: bold;
}
.popis{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: normal;
    word-spacing: 1px;
    text-indent: 5px;
    line-height: 20px;
}

.specifikacie_nazov{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.specifikacie{
    margin-top: 10px;
}
div ul li{
    list-style: none;
    font-size: 15px;
}
.box_cena{
    width: 550px;
    height: 150px;
    background-color: #9fb0c1;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    
}
.stara_cena{
    font-size: 15px;
    text-decoration: line-through #b0081c;
    color: black;
    font-weight: normal;
}
.ps4_pro_cena{
    font-size: 25px;
    text-align: right;
    margin-top: -86px;
    color: #b0081c;
    font-weight: bolder;
}
.ps4_pro_cena_bez_dph{
    font-size: 15px;
    text-align: right;
    margin-right: 20px;
    margin-top: 18px;

}
.s_dph{
    font-size: 15px;
    margin-bottom: 20px;
}
.bez_dph{
    font-size: 15px;
    margin-top: 20px;
}
button{
    margin-top: 20px;
    margin-left: -10px;
    width: 530px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}
.zlava{
    width: 100px;
    margin-top: -400px;
    margin-left: 20px;
}

.foto_ps{
    width: 500px;
    margin-left: 150px;
    margin-top: -460px;
}

/*päta*/
.pata{
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 30px;
    margin-top: 19px;
}
.copyright{
    width: 20px;
margin-top: -50px ;
margin-left: 500px;
}
.facebook{
    width: 20px;
}
.instagram{
    width: 20px;
    margin-left: 500px;
    margin-top: 5px;
}
.twitter{
    width: 20px;
}
.text{
    margin-left: 530px;
    margin-top: -25px;
    
}