* {
    margin: 0;
    padding: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
@font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    src: url(../font/l_10646.ttf);
}
body{
    background-color: #B3C5D7;
    background-position: center;
}
.logo {
    width: 60px;
    cursor: pointer;
    width: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
}
.onas:hover{
    color: azure;
}
.menu1:hover{
        color:#ffd613 ;
}
h1{
    margin-left: 15px;
    color: azure;
    font-size: 50px;
}
a{
    text-decoration: none;
}

.menu{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.navigacne_menu {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/menu_back.jpg); 
}


nav {
    flex: 1;
    text-align: right;
    margin-right: 2%;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 15px;
    cursor: pointer;
}
.onas{color: #ffd613}
    


.kontajner {
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
    
}
.nadpis{
    background-color: azure;
    padding-bottom: 10px;
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    margin-top: 10px;
}
.nadpis1{
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 50px;
    color: black; 
}
h2{
    text-align: center;
    margin-top: 10px;
}
.percento{
    width: 230px;
    margin-top: -135px;
    margin-left: 140px;
    
}

span{
    color: rgb(221, 52, 0);
    font-size: 1.5em;
}
.dolny_obrazok{
    width: 98%;
    margin-left: 1%;
    margin-top: 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.produkty{
    display: flex;
    justify-content: center;
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 98%;
    margin-left: 1%;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
}


.klavesnica_logitech{
    width: 210px;
    height: 300px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer; 
    transition: transform 0.2s;
    margin-left: 7%;
 }
 .klavesnica_logitech_foto{
     height: 60px;
     margin-left: 5px;
     margin-bottom: 50px;
     margin-top: 40px;
 }
 .klavesnica_logitech_text{
     text-align: center;
 }
 .klavesnica_logitech_cena{
     text-align: center;
     font-size: 20px;
     margin-top: 37px;
     text-decoration: line-through #b0081c;
 }
 .klavesnica_logitech_nova_cena{
     text-align: center;
     font-size: 25px;
 }
 .klavesnica_logitech:hover{
    transform: scale(1.1);
    
 }
 
 .samsung_monitor{
    width: 210px;
    height: 300px;
    margin-top: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 7%;
 }
  .samsung_monitor_foto{
     height: 150px;
     margin-left: 30px;
      
 }
  .samsung_monitor_text{
     text-align: center;
 }
  .samsung_monitor_cena{
     text-align: center;
     font-size: 20px;
     margin-top: 35px;
     text-decoration: line-through #b0081c;
 }
  .samsung_monitor_nova_cena{
     text-align: center;
     font-size: 25px;
 }
  .samsung_monitor:hover{
    transform: scale(1.1);
 }

 
 .AOC_monitor{
    width: 210px;
    height: 300px;
    margin-top: 7px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 7%;
 }
  .AOC_monitor_foto{
     height: 120px;
     margin-left: 30px; 
     margin-top: 20px;  
     margin-bottom: 15px;
 }
  .AOC_monitor_text{
     text-align: center;
 }
  .AOC_monitor_cena{
     text-align: center;
     font-size: 20px;
     margin-top: 28px;
     text-decoration: line-through #b0081c;
 }
  .AOC_monitor_nova_cena{
    text-align: center;
    font-size: 25px;
 }
  .AOC_monitor:hover{
    transform: scale(1.1);
 }
 .nintendo{
    width: 210px;
    height: 300px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 7%;
}
 .nintendo_foto{
    height: 150px;
    width: 150px;
    margin-left: 30px;   
}
 .nintendo_text{
    text-align: center;
}
 .nintendo_cena{
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
    text-decoration: line-through #b0081c;
}
 .nintendo_nova_cena{
    text-align: center;
    font-size: 25px;
}
 .nintendo:hover{
    transform: scale(1.1);
 }

 .playstation{
    width: 210px;
    height: 300px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s;
}
 .playstation_foto{
    height: 150px;
    margin-left: 30px;   
}
 .playstation_text{
    text-align: center;
}
 .playstation_cena{
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
    text-decoration: line-through #b0081c;
}
 .playstation_nova_cena{
    text-align: center;
    font-size: 25px;
}
 .playstation:hover{
    transform: scale(1.1);
 }
 .b{
     color: azure;
     width: 10px;
    height: 300px;
 }





/*päta*/
.pata{
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 30px;
    margin-top: 32px;
}
.copyright{
    width: 20px;
    margin-top: 0px ;
    margin-left: 500px;
}
.facebook{
    width: 20px;
}
.instagram{
    width: 20px;
    margin-left: 500px;
    margin-top: 5px;
}
.twitter{
    width: 20px;
}
.text{
    margin-left: 530px;
    margin-top: -25px;
    
}
